/* Header classes */

header {
    background-color: #212121;
    color: #a8a8a8;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
}

.menu-icons,
.menu-container {
    display: flex;
    align-items: center;
}

.menu-container p {
    margin-right: 4vw;
}

.menu-icons i {
    margin-right: 1vw;
}

.apple-icon {
    padding-left: 1rem;
}

.hamburger-menu {
    display: none;
}

label {
    cursor: pointer;
    color: #fff;
    font-size: 0.9375rem;
    padding-right: 1rem;
}

@media (max-width: 61.875rem) {

    .hamburger-menu {
        display: block;
    }

    .menu-container {
        display: none;
    }

    header {
        justify-content: space-between;
    }

    .menu-icons {
        margin-right: 0.625rem;
    }

    .right-icons {
        margin-left: auto;
    }
}