/* Main styles */

.image-container {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.image-container img {
    display: block;
    width: 100%;
    height: auto;
}

.textblock {
    position: absolute;
    font-size: 1rem;
    left: 50%;
    transform: translateX(-50%);
    padding: 1.25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height: 1.5;
    max-width: 80%;
}

.textblock-vision {
    bottom: 0;
    color: #ffffff;
}

.textblock-iphone {
    top: 0;
    color: #ffffff;
}

.textblock-iphone p.series-text {
    color: red;
    font-size: 0.75rem;
}

.textblock-macbook {
    top: 0;
    color: #000000;
}

.textblock p {
    margin: 0;
}

.textblock span {
    display: flex;
    justify-content: center;
    align-items: center;
}

.textblock span p {
    margin: 0 0.625rem;
}

.larger-text {
    font-size: 1.5rem;
}

.button-container {
    margin-top: 0.625rem;
}

.button {
    display: inline-block;
    padding: 0.625rem 1.25rem;
    border-radius: 0.7rem;
    text-decoration: none;
    cursor: pointer;
}

.button-white {
    color: #000000;
    background-color: #ffffff;
}

.button-transparent {
    color: #ffffff;
    background-color: transparent;
    border: 0.0625rem solid #ffffff;
}

.button-blue {
    color: #ffffff;
    background-color: #261ffb;
}

.button-transparentblue {
    color: #261ffb;
    background-color: transparent;
    border: 0.0625rem solid #261ffb;
}

.image-gallery .column {
    position: relative;
}

.image-gallery .column .textblock {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    max-width: 80%;
}

.image-gallery .column .textblock p {
    margin-bottom: 0.625rem;
}

.other-image-container .textblock {
    top: 0.625rem;
}

.conference-image-container .textblock {
    bottom: 0.625rem;
}

main {
    margin-top: 0;
    text-align: center;
}

main img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
}

.image-gallery {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1.25rem;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.column {
    margin: 0.625rem;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

@media (max-width: 50.97rem) {
    .row {
        flex-direction: column;
    }

    .textblock {
        max-width: 90%;
        padding: 1rem;
        position: relative;
        width: 100%;
        max-width: 100%;
        text-align: center;
        padding: 0.625rem;
        box-sizing: border-box;
    }
}