body,
html {
    margin: 0;
    padding: 0;
    font-family: "SF Pro", sans-serif;
    font-size: 11px;
}

header {
    background-color: #212121;
    color: #a8a8a8;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-icons,
.menu-container {
    display: flex;
    align-items: center;
}

.menu-container p {
    margin-right: 4vw;
}

.menu-icons i {
    margin-right: 1vw;
}

.hamburger-menu {
    display: none;
}

label {
    cursor: pointer;
    color: #fff;
    font-size: 15px;
}

@media (max-width: 768px) {

    .hamburger-menu {
        display: block;
    }

    .menu-container {
        display: none;
    }

    header {
        justify-content: space-between;
    }

    .menu-icons {
        margin-right: 10px;
    }

    .right-icons {
        margin-left: auto;
    }
}


.image-container {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.image-container img {
    display: block;
    width: 100%;
    height: auto;
}

.textblock {
    position: absolute;
    font-size: 20px;
    left: 50%;
    transform: translateX(-50%);
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height: 1.5;
}

.textblock-vision {
    bottom: 0;
    color: #ffffff;
}

.textblock-iphone {
    top: 0;
    color: #ffffff;
}

.textblock-iphone p.series-text {
    color: red;
    font-size: 12px;
}

.textblock-macbook {
    top: 0;
    color: #000000;
}

.textblock p {
    margin: 0;
}

.textblock span {
    display: flex;
    justify-content: center;
    align-items: center;
}

.textblock span p {
    margin: 0 10px;
}

.larger-text {
    font-size: 24px;
}

.button-container {
    margin-top: 10px;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 15px;
    text-decoration: none;
    cursor: pointer;
}

.button-white {
    color: #000000;
    background-color: #ffffff;
}

.button-transparent {
    color: #ffffff;
    background-color: transparent;
    border: 1px solid #ffffff;
}

.button-blue {
    color: #ffffff;
    background-color: #261ffb;
}

.button-transparentblue {
    color: #261ffb;
    background-color: transparent;
    border: 1px solid #261ffb;
}

.image-gallery .column {
    position: relative;
}

.image-gallery .column .textblock {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
}

.image-gallery .column .textblock p {
    margin-bottom: 10px;
}

.other-image-container .textblock {
    top: 10px;
}

.conference-image-container .textblock {
    bottom: 10px;
}

main {
    margin-top: 0;
    text-align: center;
}

main img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
}

.image-gallery {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.column {
    margin: 10px;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

footer {
    background-color: #f7f6f6;
    color: #bababa;
    padding: 10px;
    font-size: 12px;
}

.footer {
    padding-left: 100px;
    padding-right: 100px;
    /* Adjust the left and right padding */
}

.my-line {
    border-top: 1px solid #bababa;
    width: 100%;
}