/* Återställ standardstil för HTML och body */
body,
html {
    margin: 0;
    padding: 0;
    font-family: "SF Pro", sans-serif;
    font-size: 11px;
    /* Grundläggande fontstorlek */
}

/* Grundläggande stil för header */
header {
    background-color: #474747;
    color: #c4c4c4;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Stil för menyraden */
.menu-icons,
.menu-container {
    display: flex;
    align-items: center;
}

/* Stil för text i meny */
.menu-container p {
    margin-right: 4vw;
    /* Använd vw för relativt avstånd */
}

/* Stil för ikoner i meny */
.menu-icons i {
    margin-right: 1vw;
    /* Använd vw för relativt avstånd */
}

/* Stil för hamburgermeny */
.hamburger-menu {
    display: none;
    /* Dölj hamburgermenyn som standard */
}

/* Stil för label (hamburger-ikonen) */
label {
    cursor: pointer;
    color: #fff;
    font-size: 15px;
}

/* Mediaförfrågan för mindre skärmar */
@media (max-width: 768px) {

    /* Visa hamburgermeny när skärmen är mindre än 768px */
    .hamburger-menu {
        display: block;
        /* Visa hamburgermeny på mindre skärmar */
    }

    /* Dölj textmenyn när hamburgermenyn visas */
    .menu-container {
        display: none;
    }

    /* Justera header layout för mindre skärmar */
    header {
        justify-content: space-between;
        /* Placera element till vänster och höger */
    }

    /* Justera avståndet mellan ikonerna för mindre skärmar */
    .menu-icons {
        margin-right: 10px;
        /* Lägg till marginal till höger av hela .menu-icons */
    }

    /* Placera förstoringsglaset och shoppingbagen längst till höger */
    .right-icons {
        margin-left: auto;
        /* Låt dessa ikoner flytta längst till höger */
    }
}

main {
    margin-top: 30px;
    /* Anpassa topputfyllnaden beroende på headerhöjd */
    text-align: center;
}

main img {
    max-width: 100%;
    height: auto;
    border: none;
    outline: none;
    box-sizing: border-box;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
}